Q1.Check the data types of the below variables:
a=50, b=10.4, c="Hello"

In [1]:
a = 50
print(type(a))
b = 10.4
print(type(b))
c = "Hello"
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

Q2.Check whether the given string is in Upper case?

String - " My Name is Adam"

In [2]:
name_str = "My Name is Adam"
print(name_str.isupper())

False

Q3.What is the length of the given string?

String- "My Name is Adam"

In [3]:
print("Length of String - ",len(name_str))

Length of String -  15

Q4.Write a code (using "for" loop) to print the sum of all elements in the list = [6, 5, 3, 8, 4, 2, 5, 4, 11, 43]?

In [5]:
num_list = [6,5,3,8,4,2,5,4,11,43]
sum = 0
for x in num_list:
    sum = sum + x
print(sum)

91

Q5. Write a python code( using only while loop) which will only print the even numbers from 2 to 12.

In [8]:
i = 2
while i <= 12:
    print(i)
    i = i + 2

2
4
6
8
10
12

Q6.Write a python code( using the combination of if statement and while loop) which will only print the even numbers from 2 to 12.

In [7]:
i = 2
while i <= 12:
    if i % 2 == 0:
        print(i)
    i = i + 1

2
4
6
8
10
12

Q7.Write a code( using if-else statement), which will print the minimum of the below given numbers.
x=50,y=30,z=40

In [14]:
x = 50
y = 30
z = 40
if x < y and (y <= z or z <= y):
    print("Minimum is - ",x)
elif (y < x) and (x <= z or z <= x):
    print("Minimum is - ",y)
elif z < y and y <= x:
    print("Minimum is - ",z)

Minimum is -  30