In [1]:
import numpy as np
import pandas as pd
import os

In [8]:
demo_array = np.arange(10,21)
subset_demo_array = demo_array[0:7]
subset_demo_array[:]= 101
subset_demo_array

array([101, 101, 101, 101, 101, 101, 101])

In [7]:
demo_matrix = np.array(([13,35,74,48], [23,37,37,38],[73,39,93,39]))
demo_matrix[:, (1,2)]

array([[35, 74],
       [37, 37],
       [39, 93]])

In [2]:
os.getcwd()

'C:\\Users\\Sudhanshu\\gitrepository\\dsba-python-basic-preparation\\W2-PracticeSession\\Practice Quiz'

In [3]:
df = pd.read_excel('GDP_Dataset.xlsx')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   S.No                       172 non-null    int64
 1   Country                    172 non-null    object
 2   Population                 172 non-null    int64
 3   Yearly_Change              172 non-null    float64
 4   Land_Area                  172 non-null    int64
 5   Population_Density         172 non-null    float64
 6   Migrants_Net               172 non-null    int64
 7   Median_Age                 172 non-null    int64
 8   Urban_Population           168 non-null    float64
 9   World_Share_in_Population  172 non-null    float64
 10  GDP                        172 non-null    float64
 11  GDP_per_Capita             172 non-null    float64
 12  Share_of_World_GDP         172 non-null    float64
 13  Status                     172 non-null    object
dtypes: float64(7), int64(5), object(2)
memory usage: 18.9+ KB

In [5]:
df.head()

,S.No,Country,Population,Yearly_Change,Land_Area,Population_Density,Migrants_Net,Median_Age,Urban_Population,World_Share_in_Population,GDP,GDP_per_Capita,Share_of_World_GDP,Status
0,1,China,1421021791,0.39,9388211,151.362362,-348399,38,61.0,18.47,12238.0,8.612113,15.12,Developing
1,2,India,1338676785,0.99,2973190,450.249323,-532687,28,35.0,17.70,2651.0,1.980314,3.28,Developing
2,3,United States,325084756,0.59,9147420,35.538409,954806,38,83.0,4.25,19485.0,59.938215,24.08,Developed
3,4,Indonesia,264650963,1.07,1811570,146.089283,-98955,30,56.0,3.51,1015.0,3.835240,1.25,Developing
4,5,Pakistan,207906209,2.00,770880,269.699835,-233379,23,35.0,2.83,305.0,1.467008,0.38,Developing

In [9]:
df.groupby("Status")["Country"].count()

Status
Developed      34
Developing    138
Name: Country, dtype: int64

In [10]:
df["Population"].sum()

7305446192

In [19]:
df[["Country","Median_Age"]].sort_values(by="Median_Age",ascending=False).head()

     Country  Median_Age
10     Japan          48
22     Italy          47
82  Portugal          46
18   Germany          46
80    Greece          46

In [22]:
df[df["Urban_Population"]>90]["Country"].count()

10

In [24]:
df[["Country","Population_Density"]].sort_values(by="Population_Density", ascending=False).head(3)

       Country  Population_Density
156      Macao        11146.433333
107  Singapore         7071.362857
97   Hong Kong         6083.929524

In [28]:
df[df["Country"]=="India"]["GDP"]

1    2651.0
Name: GDP, dtype: float64

In [32]:
df[["Country","GDP"]].sort_values("GDP",ascending=False)

                 Country        GDP
2          United States  19485.000
0                  China  12238.000
10                 Japan   4872.000
18               Germany   3693.000
1                  India   2651.000
..                   ...        ...
155      Solomon Islands      1.300
152              Comoros      1.070
167              Vanuatu      0.863
170                Samoa      0.841
169  Sao Tome & Principe      0.393

[172 rows x 2 columns]

In [34]:
df[(df["GDP"]==250)&(df["Population"]>100000000)]["GDP_per_Capita"]

7    1.565578
Name: GDP_per_Capita, dtype: float64

In [35]:
path = "C:\\Users\\Sudhanshu\\gitrepository\\dsba-python-basic-preparation\\W2-PracticeSession\\Practice Quiz\\Data Dictionary.xlsx"

In [36]:
df_dd = pd.read_excel(path)

In [38]:
df_dd.head()

                Label                                   Description
0             Country                                  Country Name
1          Population                     Population of the country
2       Yearly_Change      Population  change wrt to last year in %
3           Land_Area         Total Land area of the country in Km2
4  Population_Density  Population Density of the country in (P/Km2)