These are called cells.  There are 2 types of cells: code and text. We can add more cells by clicking the + buttons above!

In a code cell you can type some code and then you execute the code by pressing Shift + Enter

In a text cell you can also format text!
# Chapter 1!
Sub text here!

## Sub-Header

### Sub-Sub-Header

In [2]:
2+2

4

In [3]:
2+2
4+4

8

In [4]:
print(2+2)
print(4+4)

4
8

In [5]:
print('hello world!')

hello world!

In [6]:
print('hello world',2+2,'this is python')

hello world 4 this is python

In [7]:
print('hello world',2+2,'this is python',sep='')

hello world4this is python

In [8]:
# everything to the right of a # is not run as code, this is called a comment!
2+2 # this is adding two plus two

4

In [9]:
# we can add strings together!
print('hello'+'world')

helloworld

In [10]:
print('hello ' + ' world')

hello  world

In [11]:
print('hello'+5)

TypeError: ignored

A mobile store MobiWorld sells different mobile phones to customers. For each order that is placed, the store keeps a record of various attributes related to the mobile, like Price, Brand, RAM (GB), and Internal Storage (GB).

Let's learn Python using the context of the store's data.

## 1.1 Intro to Variables

First, we have to store our data to a variable that can be used to extract the stored information later. Let's take an example of how we can do that in Python.

Q. Suppose the store sold an Apple iPhone (4GB, 128GB) for $900. Store this information in the variables **price**, **brand**, **ram**, and **storage**.

In [13]:
# store the price (in dollars) of the mobile in variable 'price'
price = 900
# print the value saved in the variable 'price'
print('The price of the mobile is $',price,sep='')

The price of the mobile is $900

In [6]:
# store the brand name of the mobile in variable 'brand'.
brand = 'Apple'
# print the value saved in the variable 'brand'
print('The brand of the mobile is',brand)

The brand of the mobile is Apple

In [9]:
# store the RAM (in GB) of the mobile in variable 'ram'.
ram = 4
# print the value saved in the variable 'ram'
print('The RAM of the mobile is', ram,'GB')

The RAM of the mobile is 4 GB

In [10]:
# store the internal storage (in GB) of the mobile in variable 'storage'.
storage = 128
# print the value saved in the variable 'Memory'
print('The internal storage of the mobile is', storage, 'GB')

The internal storage of the mobile is 128 GB

Q. Let's say the store wants to save the information on the billing status of the above phone in a boolean variable. Write the code in Python to implement the same.

In [11]:
# a special type of variable stores just True/False values.  This is called a boolean variable.
# create a boolean variable 'is_billed' to save the billing information
is_billed = True
print(is_billed)

True

The value that we store in a variable can be a number or a set of characters or a boolean variable (True/False). For example, a price is a number while the brand name is a set of characters which is also known as a string in python. Whenever we store a value in a variable, Python automatically assigns a data type to that variable based on the value. It also allows us to check the data type of the variable.

Q. Check the data type of the variables **price**, **brand**, **ram**, and **storage**

In [12]:
# check the data-type using the type function
type(price)

int

In [13]:
# check the data-type using the type function
type(brand)

str

In [14]:
# check the data-type using the type function
type(ram)

int

In [15]:
# check the data-type using the type function
type(storage)

int

In [16]:
# check the data-type using the type function
type(is_billed)

bool

Q. Let's say a customer buys two Apple iPhones (4GB, 128GB) at a price of $900 each. What will be the total bill that the customer has to pay?

In [17]:
# calcuate the total bill and store it in variable 'bill'
bill = price + price
# the same result can be achieved by multiplication.
bill = price*2
print('The bill amount is $',bill,sep='')

The bill amount is $1800

In [18]:
price = 400
bill = price*2
print('The bill amount is $',bill,sep='')
print('The bill amount is $',bill)

The bill amount is $800
The bill amount is $ 800

Q. Let's say the store provides a discount of \$15 dollars on the Apple iPhone (4GB, 128GB) that costs $900. What will be the price of the iPhone after the discount?

In [19]:
# store the price (in dollars) of the mobile in variable 'price'
price = 900
# store the discount amount in variable 'discount'
discount = 15
# calculate the discounted price
price_after_discount = price - discount
print('The price of the iPhone after the discount is $',price_after_discount,sep='')

The price of the iPhone after the discount is $885

Q. Let's say a customer buys two Apple iPhones (4GB, 128GB) and pays a total bill of \$1800. Write the Python code to find the price of an Apple iPhone.

In [20]:
# store the bill (in dollars) of the two mobiles in variable 'bill'
bill = 1800
# calculate the price of one mobile
price = bill / 2
print('The price of an Apple iPhone is $',price,sep='')

The price of an Apple iPhone is $900.0

Q. Let's say a customer buys x numbers of Apple iPhones (4GB, 128GB) for $900 each. The total bill that the customer pays is \$3600. Write the Python code to find the value of x.

In [21]:
# store the bill (in dollars) of the mobile in variable 'bill'
bill = 3600
# store the price (in dollars) of the mobile in variable 'price'
price = 900
# calculate the number of iPhones that the customer buys
x = bill // price
# double divided forces the answer to be an integer!
print('The customer buys', x, 'Apple iPhones')

The customer buys 4 Apple iPhones

Q. Suppose the store plans to provide a 4.5% discount on the Apple iPhone. What will be the discounted price of the mobile?

**Type Conversion**: The process of converting one data type to another data type is called type conversion. 

In Python, we can perform two types of type conversion.

1. Implicit Type Conversion - Here, Python automatically converts one data type to another in order to avoid data loss.

2. Explicit Type Conversion - Here, the user can convert the data type of a variable to the required data type by using the in-built functions int(), float(), str(), etc.

In [22]:
# store the price (in dollars) of the mobile in variable 'price'
price = 900
# calculate the discount amount
discount = price * 0.045
# calculate the discounted price
discounted_price = price - discount
print('The discounted price of the iPhone is ' + str(discounted_price))

## It will throw TypeError: can only concatenate str (not "float") to str
## print('The discounted price of the iPhone is ' + discounted_price)

The discounted price of the iPhone is 859.5

In [28]:
type(discounted_price)

float

Now, let's check the data type of the variables 'discount' and 'price'

In [23]:
print('The data type of variable price is',type(price))
print('The data type of variable discount is',type(discount))

The data type of variable price is <class 'int'>
The data type of variable discount is <class 'float'>

As we can see, the data type of 'discount' is float as Python is implicitly converting the lower data type to a higher data type to avoid data loss.

Suppose we want to add the variables **brand**, **ram**, and **storage**. 

Will the implicit conversion work?

Let's try it!

In [24]:
print(brand + ' ' + ram + 'GB')

TypeError: can only concatenate str (not "int") to str

As we can see from the output, the TypeError is being raised which indicates that Python is not able to use Implicit Conversion in such conditions.

But, we can do an explicit conversion for such cases.

In [28]:
brand + ' ' + str(ram) + 'GB'

'Apple 4GB'

In [29]:
brand + ' ' + ram + 'GB'

TypeError: can only concatenate str (not "int") to str

We have 4 records